*{
    margin: 0;
    padding: 0 ;
    box-sizing:border-box ;
}

.container{
    background-color :lightblue ;
    min-height:100vh ;
    border: 10px solid darkblue ;

}
.content{
    max-width: 900;
    margin: 0 auto;
}
.top_section{
    margin-top:100px ;
    display : flex;
    justify-content:space-between ;
    align-items: flex-end; 
}
.top_section h1{
    font-size: 50px;
    font-weight: bold;
    color:darkblue ;
    text-transform: uppercase;
}
.top_section h4{
    font-size: 30px;
    text-align: end;
}
.image_container{
    border-radius: 50%;
    overflow: hidden;

}

.image_container,img{
    width: 300px;
    height:320px ;

}
.About_section{
margin-top:50px ;
}
.About_section h2{
    font-size: 70px;
    font-weight:400 ;
    margin-bottom:20px ;
}
.About_section p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
}
footer{
    margin-top: 50px 0;

}
footer p{
 text-align: end ;   
}

